@tailwind base;
@tailwind components;
@tailwind utilities;

$font-size-sm: 0.8rem;

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}

@media only screen and (prefers-color-scheme: dark) {
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #525252;
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #404040;
    }
}

.editableInput:empty::before {
    content: attr(data-placeholder);
    color: #a3a3a3;
}

@import 'app/styles/variables';
@import '~bootstrap/scss/bootstrap';
@import 'app/styles/bootswatch';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.app {
    z-index: 1;
}

.background-paper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: $gray-300;
    z-index: -1;
}

.border-focus:focus {
    border: 1px solid $primary;
}

.pointer {
    cursor: pointer;
}

.w-100p {
    width: 100%;
}
.w-75p {
    width: 75%;
}
.w-60p {
    width: 60%;
}
.w-50p {
    width: 50%;
}
.w-30p {
    width: 30%;
}
